@media screen and (max-width: 700px){
    #meme_picture{
        width: 350px;
        height: auto;
    }
    #img{
        max-width: 100%;
        height: auto;
    }

    #meme_text{
                background-color: transparent;
                font-size: 40px;
                font-family: "Impact";
                color: white;
                text-shadow: black 0px 0px 10px;
                max-width: auto;
                display: inline-block;

    }
}
#meme_text{
  background-color: transparent;
  font-size: 40px;
  font-family: "Impact";
  color: white;
  text-shadow: black 0px 0px 10px;
  max-width: auto;
  position: absolute;
  display: inline-block;
  }
  #format{
    font-family: calibri;
  }
